# Python
__pycache__/
*.pyc

# Gradio
.gradio/

# Logs
logs/

# Dataset (DO NOT push raw training data)
dataset/

# Large model files (optional – choose ONE)
# isl_model.h5
# isl_model.keras

# OS
.DS_Store
Thumbs.db
